.button{
  margin: 4px;
  border: 2px outset #8d1ca4;
  font-family: "Arial Black";
  font-weight: 1000;
}

/* .button-box{
  display: grid;
  grid-template-columns:repeat(3, 2fr);
} */

.button-box{
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
}

.myButton {
  color: black;
  margin: 3px;
}
